body {
  margin: 20px;
  text-align: center;

  background-image: linear-gradient(rgb(183, 129, 190), rgb(254, 226, 238));
  background-size: cover;
  background-attachment: fixed;
  font-family: monospace;
}

.App .App-header {
  margin-top: 20px;
  padding: 20px;
}
.container {
  border-radius: 16px;
}
.App a {
  color: #d64933ff;
}
h1 {
  margin: 0;
}
.valagala-title {
  font-family: Lobster;
  color: #d64933ff !important;
  font-size: 57px;
  letter-spacing: 14px;
  text-shadow: 2px 2px rgb(97, 91, 102);
}
.title-pos {
  color: #7c7c7cff;
  font-weight: 600;
  letter-spacing: 2px;
}

.subtitle {
  display: flex;
  justify-content: center;
}
.dictionary-app {
  width: fit-content;
  border: 1px solid #d64933ff;
  border-radius: 22px;
  padding: 3px 7px;
  text-align: center;
  background-color: #eee5e9ff;
}
.coded-by {
  color: #7c7c7cff;
}
