body {
  margin: 20px;
  text-align: center;
  background-color: #a9bcd0ff;

  font-family: monospace;
}

.App .App-header {
  margin-top: 20px;
  padding: 20px;
}
.container {
  border-radius: 16px;
}
.App a {
  color: rgb(195, 34, 85);
}
h1 {
  margin: 0;
}
.valagala-title {
  font-family: cursive;
  color: rgb(195, 34, 85) !important;
}
.subtitle {
  display: flex;
  justify-content: center;
}
.dictionary-app {
  width: fit-content;
  border: 1px solid palevioletred;
  border-radius: 22px;
  padding: 3px 7px;
  text-align: center;
  background-color: white;
}
