.Dictionary {
  background-color: white;
  padding: 10px;
}
form {
  padding-top: 25px;
}
.part-of-speech {
  color: gray;
}
.word-section {
  background-color: antiquewhite;
  padding: 10px;
}
em,
.word {
  color: palevioletred;
}
.Synonyms,
.Meaning .meaning-synonyms {
  display: inline-flex;

  padding: 5px;
}
.Synonyms li,
.Meaning .synonyms {
  margin-right: 10px;

  display: inline;
  width: fit-content;
  border: 1px solid palevioletred;
  border-radius: 22px;
  padding: 3px 7px;
  list-style: none;
}
.audioIcon {
  cursor: pointer;
  color: rgb(195, 34, 85);
}
