.Dictionary {
  background-color: #eee5e9ff;
  padding: 10px;
  border-radius: 16px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 4px 7px;
}
form {
  padding-top: 25px;
}
.search-input {
  width: 45%;
  background-color: rgba(238, 229, 233, 0.6);
  border-radius: 90px 0px 0px 90px;
  border: 2px dashed grey;
}
.search-input:focus {
  border: 2px solid grey;
}
.btn {
  border-radius: 0px 90px 90px 0px;
  padding: 6px 12px;
  margin-bottom: 4px;
  margin-left: 2px;
}
.part-of-speech {
  color: #7c7c7cff;
  font-weight: 600;
}
.word-section {
  padding: 10px;
  background-color: rgba(212, 169, 210, 0.6);
}
.word {
  color: #d64933ff;
  font-weight: 600;
}
em {
  color: rgba(214, 73, 51, 0.8);
}
section {
  margin: 10px;
}
ul {
  padding-inline-start: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
.Synonyms,
.Meaning .meaning-synonyms {
  display: inline-flex;
  margin-top: 10px;
  padding: 5px;
}
.Synonyms li,
.Meaning .synonyms {
  display: inline;
  width: fit-content;
  border: 1px solid #d64933ff;
  border-radius: 22px;
  padding: 3px 7px;
  list-style: none;
}
.audioIcon {
  cursor: pointer;
  color: rgba(31, 210, 234, 0.82);
}

@media (max-width: 500px) {
  .Dictionary {
    width: 100%;
  }

  .search-input {
    width: 60%;
    font-size: 14px;
  }
.btn{
  margin-bottom: 1px;
}
  .word {
    font-size: 20px;
  }
  .phonetic-word {
    font-size: 16px;
  }
  .audioIcon {
    font-size: 18px;
  }
}
